* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    --color1: #ffffff;
    --color2: #000000;
}

.nav-bar {
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: #173c62;
    padding: 12px 20px;

}



.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}


.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #25517d;
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;

}

#check {
    display: none;

}

@media(max-width: 600px) {
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    body {
        width: 100%;
    }
}

html body {
    width: 95%;
    margin: auto;
}

.linha {
    background-color: #000000a9;
    height: 4px;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.400);
    margin-left: -20px;
}

h1 a {
    text-decoration: none;
    color: white;
}

h1:hover {
    text-decoration: underline;
    cursor: pointer;
}

h2 {
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 3px;
    color: #25517d;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.200);
}

span {
    color: #000000;
}

h3 {
    text-decoration: underline;
    margin-top: 25px;
    margin-left: 30px;
    color: #25517d;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.200);
}

p {
    margin-left: 30px;
}

a {
    margin-left: 30px;
    font-weight: bold;
    color: #000000;
}

button {
    margin-left: 30px;
    padding: 8.5px;
    border-radius: 10px;
    background-color: #173c62;
    color: white;
    font-size: 1em;
}

/*Media Queries*/

@media screen and (min-width:768px) and (max-width:992px) {

    html,
    body {
        width: 85%;
        margin: auto;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {

    html,
    body {
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width:1200px) {

    html,
    body {
        width: 75%;
        margin: auto;
    }
}